.vscode/
build/
Testing/
eigen*/
*.mps
tools/*
!tools/mps_load.py
!tools/emps.c
!tools/preprocessing.sh
datasets/*/*.mps
datasets/*/*.txt
!datasets/netlib_simplex_sol/*.txt
!datasets/netlib_revised_simplex_sol/*.txt
!datasets/plato/*.mps